<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Millionaire</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-usd"></span>Who Wants to Be a Millionaire?</h1>
        <img src="https://www.hollywoodreporter.com/sites/default/files/imagecache/675x380/2012/07/who_wants_to_be_millionaire_logo.jpg" class="img-fluid" alt="Responsive image">

        <p>Login to play!</p>

        <a href="/user/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/user/profile" class="btn btn-default"><span class="fa fa-user"></span> Profile</a>
    </div>

</div>
</body>
</html>
