<!-- www/questions.ejs -->
<!doctype html>
<html>
<head>
    <title>Millionaire</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body id= "add_remove">
  <nav>
    <a href="/user/logout"> Logout</a><a href="/game">Play</a><a href="/questions/">Add/Remove Questions</a>
  </nav>
  <div class="container questions">

    <div class= "question-container">
        <h2></span>Add or Remove a Question</h2>
        <p>Total Questions: </p> <div id='question-length'></div>

        <div>
          <form id='add-question-form' onsubmit="addQuestion()">
            <div>
                  <h3 id='qID'>Add a Question:</h3>
                  <p>Question:</p>
                  <input type="text" name="question"><br>
                  <p>A:</p>
                  <input type="text" name="optionA"><br>
                  <p>B:</p>
                  <input type="text" name="optionB"><br>
                  <p>C:</p>
                  <input type="text" name="optionC"><br>
                  <p>D:</p>
                  <input type="text" name="optionD"><br>
                  <p>Correct Answer:</p>
                  <input type="text" name="answer"><br>
                  <input type="submit"><br>
            </div>
          </form>

          <h3 id='qID'>Remove a Question:</h3>
          <form id='remove-question-form' onsubmit="removeQuestion()">
              Index of question to remove:
              <input type='text' name='questionID'>
              <input type="submit"><br>
          </form>
        </div>
    </div>

</div>
</body>
<script src="questions.js" type="text/javascript"></script>
</html>
